* {
  margin: 0;
  padding: 0;
  font-family: tahoma, arial, sans-serif, "lucida grande";
}
a {
  text-decoration: none;
  color: #696969;
}
p {
  font-size: 18px;
}
a:hover,
a:hover p {
  color: #818753;
}
.container {
  width: 1200px;
  margin: auto;
}
/* Login */
#thanhmien {
  border-bottom: 1px solid #696969;
  padding: 30px 0px;
}
.login {
  float: right;
  /* background-color: #160eaf; */
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
}
.login ul li {
  display: inline-block;
}
.login a {
  color: #696969;
}

/* Menu */
.menu {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  /* position: fixed; */
}
.menu ul li {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
}
.menu img {
  margin: 0px 15px -20px;
}
.menu img:hover {
  opacity: 0;
}
#logo {
  float: left;
  height: 45px;
}
#logo img {
  height: 100px;
  width: auto;
}
/* slide */

.slide-block {
  width: 100%;
  height: 550px;
  position: relative; /* không ảnh hưởng đến hiển thị của những thứ khác- đè chồng lên*/
}
img {
  width: 100%;
}
.all-slide {
  width: 100%;
  height: 550px;
  overflow: hidden; /*tránh tràn text ra ngoài */
}
.slide {
  position: absolute; /* luôn nằm trong phần tử mẹ */
  top: 0px;
  left: 0px;
  opacity: 0;
  visibility: hidden; /* chồng lên nhau không bị nhìn thấy */
}
.slide.active {
  opacity: 1;
  visibility: visible; /*thành phần có thể nhìn thấy */
}
.nut-slide span {
  color: white;
  font-size: 60px;
  opacity: 0.6;
}
span#btn-prev {
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: 10;
  cursor: pointer; /* di chuyển con trỏ chuột vào sẽ thấy hiệu ứng */
}
span#btn-next {
  position: absolute;
  top: 30%;
  right: 0%;
  z-index: 10;
  cursor: pointer;
}
.nut-slide ul {
  position: absolute;
  z-index: 10;
  width: 100px;
  bottom: 10%;
  left: 50%;
  margin-left: -50px;
  display: flex;
  justify-content: space-between;
}
.nut-slide ul li {
  width: 20px;
  height: 20px;
  background: black;
  opacity: 0.4;
  list-style: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s;
}
/* content */
#deal {
  text-transform: uppercase;
  text-align: center;
  color: rgb(9, 118, 219);
}
#gach-chan img {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
}
#sale1 img {
  height: 380px;
  width: auto;
  margin-top: 60px;
  border-radius: 5%;
}
#sale2 img {
  height: 380px;
  width: auto;
  margin-top: 60px;
  margin-left: 20px;
  border-radius: 5%;
}
#sale3 img {
  height: 380px;
  width: auto;
  margin-top: 60px;
  margin-left: 20px;
  border-radius: 5%;
}
#allmenu {
  text-transform: uppercase;
  text-align: center;
  color: rgb(9, 118, 219);
}
.content2 {
  margin: 50px;
}
#gach-chan2 img {
  width: 130px;
  height: auto;
  display: block;
  margin: auto;
}
/* menu tra sua */
.sp,
.ten,
.gia,
.mua {
  width: 285px;
  margin-left: 20px;
  float: left;
}
.sp:first-child,
.ten:first-child,
.gia:first-child,
.mua:first-child {
  margin-left: 0;
}
.sp {
  overflow: hidden;
  margin-bottom: 20px;
}
.sp img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.sp img:hover {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.ten p {
  color: #464444;
  text-align: center;
  margin-bottom: 10px;
}
.gia {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #818753;
  margin-bottom: 20px;
}
.gia span {
  font-size: 25px;
}
.mua {
  text-align: center;
}
.layer4 {
  margin-bottom: 20px;
}
.btn {
  padding: 10px 30px;
  background-color: #bfac04;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}
.btn:hover {
  background-color: #464444;
}
/* FOOTER */
.footer {
  margin-top: 600px;
}
.back {
  height: 200px;
  width: auto;
  background-color: #464444;
}
.about {
  width: 400px;
  float: left;
  font-size: 18px;
  color: #ffffff;
  margin: 20px;
}
.about #gt {
  font-size: 15px;
  width: 245px;
  color: #ffffff;
  float: left;
  margin-top: 10px;
}
.contact {
  width: 300px;
  float: left;
  font-size: 18px;
  color: #ffffff;
  margin: 20px;
}
.contact p {
  font-size: 16px;
  margin-top: 10px;
  color: #ffffff;
}
.contact span {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}
.fb img {
  height: 30px;
  width: auto;
  margin-top: 50px;
  border-radius: 20%;
}
.yt img {
  height: 30px;
  width: auto;
  border-radius: 20%;
  margin-top: 30px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

li {
  list-style: none;
}

/* header */
nav {
  padding: 15px;
  width: 100%;
  display: flex;
  background: #f1df11;
}

nav .content-nav {
  display: flex;
  line-height: 2rem;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

nav .content-nav ul {
  display: flex;
}

nav .content-nav ul li a {
  text-decoration: none;
  color: #43433e;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 800;
}

nav .content-nav ul li a:hover {
  color: #fff;
}

.content-nav form {
  position: relative;
}

.content-nav form input {
  border: none;
  background: #fff;
  padding: 7px;
  outline: none;
  border-radius: 12px;
}

.content-nav form button {
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  outline: none;
  background: #fff;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#cart {
  font-size: 15px;
  color: #fff;
  background: #c7b200;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  margin-left: 1rem;
  padding: 12px;
  cursor: pointer;
}

#cart:hover {
  border-color: #fff;
}
/* wrapper */
.wrapper {
  padding: 2rem;
}

.products ul {
  display: inline-block;
}

.products ul .main-product {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: block;
  float: left;
  width: 24%;
}

.products ul .no-margin {
  margin-right: 0;
}

.products ul .img-product img {
  width: 100%;
}

.content-product .content-product-h3 {
  padding: 0.5rem 0;
  overflow: hidden;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  max-height: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 19px;
  margin: 0 0 5px;
}

.content-product .content-product-deltals {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.main-product .content-product .content-product-deltals .price {
  color: #c7b200;
  font-weight: 700;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 20px;
}

.content-product .content-product-deltals .price .money {
  vertical-align: middle;
}

.content-product .content-product-deltals .btn-cart {
  background: #f1df11;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.content-product .content-product-deltals .btn-cart:hover {
  background: #c7b200;
}

/* footer */
.footer-item {
  padding: 0.5rem 2rem;
  background: #f1df11;
  display: flex;
}

.footer-item .img-footer {
  align-items: center;
  display: flex;
}

.footer-item .img-footer img {
  width: 100%;
}

.footer-item .social-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.footer-item .social-footer li a {
  color: #000000;
  font-size: 2rem;
}

.footer-item .social-footer li:last-child {
  margin-left: 0.5rem;
}
/* footer */
.footer-item {
  padding: 0.5rem 2rem;
  background: #f1df11;
  display: flex;
}

.footer-item .img-footer {
  align-items: center;
  display: flex;
}

.footer-item .img-footer img {
  width: 100%;
}

.footer-item .social-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.footer-item .social-footer li a {
  color: #000000;
  font-size: 2rem;
}

.footer-item .social-footer li:last-child {
  margin-left: 0.5rem;
}
/* nav mobile */
.nav-mobile {
  display: none;
}

.nav-mobile .icon-mobile {
  padding: 0.5rem;
  font-size: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  outline: none;
}

.nav-mobile .item_menu {
  background: #f1df11;
  position: absolute;
  top: 100%;
  width: 100%;
  display: none;
  padding-bottom: 1rem;
}

.item_menu ul li a {
  color: #43433e;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.item_menu ul li a:hover {
  color: #fff;
}

.item_menu form {
  margin: 0 1rem;
  position: relative;
}

.item_menu form input {
  width: 100%;
  border: none;
  background: #fff;
  padding: 7px;
  outline: none;
  border-radius: 12px;
}

.item_menu form button {
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  outline: none;
  background: #fff;
}
/*mobile*/
@media only screen and (min-width: 240px) and (max-width: 480px) {
  /* nav */
  nav .content-nav {
    display: none;
  }

  nav {
    position: fixed !important;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0;
  }

  .nav-mobile {
    display: flex;
  }

  .img-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .img-nav img {
    padding-top: 0.5rem;
    vertical-align: middle;
    width: 90%;
  }

  .content-nav,
  .item_menu form button {
    right: 10px;
  }

  /* wrapper */
  .wrapper {
    padding: 1rem;
  }

  .products {
    margin-top: 3rem;
  }

  .products ul .main-product {
    width: 100%;
  }

  /* modal */
  .modal-content {
    width: 95%;
  }

  .cart-item-title {
    font-size: 0.6em;
  }

  .cart-column {
    margin-right: 0.5em;
  }

  .cart-price {
    margin-right: 1rem;
  }

  #cart {
    margin: 0.5rem;
    padding: 3px;
  }
}
/*tablet*/
@media (min-width: 480px) and (max-width: 768px) {
  .wrapper {
    padding: 1.5rem;
  }

  .img-nav img {
    vertical-align: middle;
    width: 100%;
  }

  nav .content-nav ul li a {
    font-size: 12px;
    padding: 0px 8px;
  }

  nav .content-nav {
    width: 100%;
  }

  #cart {
    font-size: 12px;
    margin-left: 0.3rem;
    padding: 0;
  }

  .products ul .main-product {
    width: 31%;
  }

  .main-product .content-product .content-product-deltals .price {
    font-size: 18px;
  }

  .products ul .no-margin {
    margin-right: 1rem;
  }

  .cart-item-title {
    font-size: 0.5em;
  }

  .cart-column {
    margin-right: 0.5em;
  }

  .cart-price {
    margin-right: 1rem;
  }
} /* cart */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
